/[Bb]in/
/[Oo]bj/
/artifacts/
/.vs/
/.git/
/*.suo
/*.user
/*.userosscache
/*.sln.docstates
*.nupkg
*.snupkg
*.nuspec
/packages/
/project.lock.json
/project.fragment.lock.json
/[TestRr]esults/
/*.trx
*.log
*.cache
*.db
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/
/[Dd]esktop\.ini
/.DS_Store
_ReSharper*/
*.DotSettings.user
*.dotCover
*.tmp
*.swp
*.orig
*.rej
*.patch
*.diff